.box-review-decesion{
	width: 100%;
	border-radius: 5px;
	padding: 5px;
    margin-top: 270px;
	height: 160px;
	border: 1px solid black;
}

.box-reject-btn {
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    height: 150px;
    border: 1px solid black;
}

#plate-information, #reject-reason, #reviewer-name, #review-date{
	margin-left: 20px;
}