html,body{
	height: 94%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	padding-bottom: 5px;
}

.first-header{
	height: 5%;
	font-weight: bold;
	background-color: #F4F6F6;
	border: 2px solid black;
}

#first-label{
	float: left; 
	padding-top: 10px;
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
	padding-left: 10px;
}

#first-pa-re-btn{
	position: relative;
	left: 400px;
	height: 28px;
}

.review-table{
	border: 2px solid black;
	margin-bottom: 0px;
}
#first-reviewer{
	padding-top: 10px;
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
	padding-left: 10px;
}

#first-state{
	position: relative;
	left: 410px;
	padding-top: 10px;
	font-family: Arial;
	font-size: 12px;
}

#first-stat{
	position: relative;
	left: 420px;
	padding-top: 10px;
	font-family: Arial;
	font-size: 12px;
}

.inlineTable {
    display: inline-block;
    font-family: Tahoma;
    font-size: 12px;
}

#first-reviewer{
	position: absolute;
	right: 280px;
	padding-top: 10px;
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
}

#first-reviewdate{
	position: absolute;
	right: 20px;
	padding-top: 10px;
	font-family: Arial;
	font-size: 12px;
}
#slider1, #slider2, #slider3, #slider4, #slider5, #slider6, #slider7, #slider8{
	position: float;
	margin-left: 10px;
}
#first-bright-label, #first-sharp-label, #first-contrast-label, #first-contrast-label{
	font-family: Arial;
	font-size: 12px;
}
#reset-filter-button{
	vertical-align: center;
}
#box{
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	height: 90px;
	border-radius: 15px;
	border: 1px solid black;
	background-color: #4ac759;
	font-family: Arial;
	font-size: 12px;
}

#details-table td{
	padding-top:15px;
	padding-left: 10px;
	text-align: center;
	width: 100px;
}

#transaction-table{
	text-align : left;
}


#transaction-header{
	text-align: center;
	padding-top:10px;
	font-size: 16px;
	font-style: bold;
}

hr{
	margin-left: 40px;
	margin-right: 40px;
	color: black;
	border-style: inset;
    border-width: 2px;
}
#reject-btn{
	margin: 60px 10px 10px 20px;
}

#more-btn{
	margin: 60px 10px 10px 10px;
	border-radius: 25px;
}
#noplate-btn, #plate-btn, #novehicle-btn, #unknown-btn, 
#toodark-btn, #toobright-btn, #blurry-btn, #unknownstate-btn{
	border-radius: 25px;
	margin: 10px;
}
#input-plate-number{
	text-align: center;
	margin-top: 20px;
	margin-left: 60px;
	padding-top:10px;
	font-size: 24px;
}
#back-btn{
	margin-left: 20px;
	margin-top: 15px;
	margin-bottom: 10px;
}
#accept1-btn{
	margin-left: 40px;
	margin-top: 10px;
	margin-right: 140px;
	margin-bottom: 10px;
}

#accept2-btn{
	margin-left: 140px;
	margin-top: 10px;
	margin-right: 30px;
	margin-bottom: 10px;
}
#input-plate-state, #input-plate-type{
	text-align: center;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 10px;
	padding-top:10px;
	font-size: 16px;
}