.container{
	margin-top: 10px;
	width:100%;
	height: 660px;
	border-radius: 5px;
	border: 1px solid black;
}

.nopadding {
   padding: 0px !important;
   margin: 0px !important;
}

.input-group .form-control {
	width: 100%;
}

.form-group .form-control{
	float: left;
	width: 28%;
}

#review-label{
	padding-top: 20px;
}
.box{
	margin-left: 10px;
	margin-top: 10px;
	padding-left: 20px;
	padding-top: 10px;
	border-radius: 5px;
	width: 48%;
	border: 1px solid black;
}

.rp{
	float: left;
}

#search-btn{
	float: right;
	margin-right: 20px;
	margin-bottom: 20px;
}

.table-box2{
	margin-left: 10px;
	margin-top: 10px;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	border-radius: 5px;
	width: 48%;
	border: 1px solid black;
}
#image-review-chart1, #image-review-chart2{
	padding-top: 40px;
	min-width: 310px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto;
}