html,body{
	height: 94%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	padding-bottom: 5px;
	font-family: Arial;

}


.header{
	height: 5%;
	padding-top: 10px;
	font-size: 16px;
	font-weight: bold;
	background-color: #4ac759;
	border: 2px solid black;
}
.header-below{
	height: 4%;
	margin:0px;
	padding-top: 5px;
	font-size: 12px;
	background-color: #4ac759;
	border: 2px solid black;
}

#title_main {
	margin-left: 10px;
	margin-top: 0px;
	position: fixed;
	color: black;
}

#user_details{
	float: right;
    margin-right: 20px;
}

#logout_btn{
	float: right;
	margin-right: 10px;
}

#env_title{
	float: right;
	padding-right: 10px;
}

.menu_panel{
	padding-top: 10px;
	font-size: 14px;
}



#footer_left{
	float: left;
	padding-left: 50px;
	position: fixed;
}

#footer_center{
	float: right;
	margin-right: 400px;
}

#footer_right{
	float: right;
	margin-right: 50px;
}

.menu_panel ul li, ul li ul{
    list-style: none;
}