
.container{
	margin-top: 10px;
	width:100%;
	border-radius: 5px;
}

.nopadding{
   padding: 0px !important;
   margin: 0px !important;
}

.box-top{
	width: 100%;
	border-radius: 5px;
	border: 1px solid black;
	background-color: #ccc;
}

.box-main{
	border-radius: 5px;
	height:608px;
	width: 100%;
	/*border: 1px solid black;*/
}

.box-bottom{
	border-radius: 5px;
	height:109px;
	width: 100%;
	/*border: 1px solid black;*/
}

.box-child1{
	float: left;
	border-radius: 5px;
	margin-top: 5px;
	margin-left: 16px;
	width: 31%;
	height:490px;
	border: 1px solid black;
}

 .box-child2{
 	float: left;
	border-radius: 5px;
	margin: 5px;
	width: 35%;
	height:490px;
}

.box-child3{
	float: left;
	border-radius: 5px;
	margin-top: 5px;
	margin-right: 15px;
	width: 31%;
	height:490px;
	border: 1px solid black;
}

.box-child11, .box-child12{
	border-radius: 5px;
	margin-left: 5px;
	margin-top: 5px;
	margin-right: 5px;
	height: 72px;
	border: 1px solid black;
}

.box-child12{
	background-color: #4ac759;
	font-family: Arial;
	font-size: 12px;
}


#ocrbox-details{
	border-radius: 15px;
	border: 1px solid black;
	background-color: #4ac759;
	font-family: Arial;
	font-size: 12px;
}

.box-reject-btn{
	border-radius: 5px;
	padding: 5px;
	margin-top: 30px;
	height: 160px;
	border: 1px solid black;
}

.box-number-plate{
	float: left;
	border-radius: 5px;
    padding: 5px;
    margin-top: 35px;
    width: 102%;
    height: 100px;
    /*border: 1px solid black;*/
}

.box-input-plate-state .box-input-plate-type{
	float: left;
	border-radius: 5px;
    padding: 5px;
    margin-top: 45px;
    width: 80%;
    height: 30px;
    border: 1px solid black;
}


#first-label{
	padding-top: 8px;
	padding-left: 10px;
}

#pa-re-btn{
	position: relative;
}

#first-state{
	position: absolute;
	margin-left: 10px;
	padding-top: 8px;
	font-family: Arial;
	font-size: 12px;
}

#first-status{
	position: relative;
    padding-top: 8px;
    left: 200px;
}

#first-reviewer{
	position: absolute;
	padding-top: 8px;
	right: 200px;
}

#first-reviewdate{
	position: absolute;
	padding-top: 8px;
	right: 60px;
}

#first-home-btn{
	position: absolute;
	padding-top: 8px;
	right: 30px;
}

#rear-main1-img, #rear-main2-img{
	margin: 5px;
	padding: 0px;
	width: 305px;
	height: 155px;
	border: 1px solid black;

}
.bg-images{
    padding-right: 0px;
    padding-left: 15px;
}

#rear-small1-img, #rear-small2-img, #rear-small3-img, 
#rear-small4-img{
	float: left;
	margin-right: 5px;
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 1px;
	width: 110px;
	height: 59px;
	border: 1px solid black;
}

 #reset-filter-btn1, #reset-filter-btn2{
 	float: left;
	margin-top: 5px;
	margin-left: 10px;
	width: 110px;
	height: 59px;
	border: 1px solid black;
 }

#rear-plate-lbl, #rear-plate-state-lbl, 
#rear-type-lbl, #rear-ocr-lbl,
#front-plate-lbl, #front-plate-state-lbl, 
#front-type-lbl, #front-ocr-lbl{
	font-family: Arial;
	font-size: 14px;
	margin-top: 10px;
	margin-left: 40px;
}

#rear-plate-val, #rear-plate-state-val, 
#rear-type-val, #rear-ocr-val,
#front-plate-val, #front-plate-state-val, 
#front-type-val, #front-ocr-val{
	position: relative;
	font-family: Arial;
	font-size: 14px;
	margin-top: 10px;
	margin-left: 40px;
	margin-right: 10px;
}

#transaction-header{
	margin-left: 170px;
    margin-top: 20px;
    font-style: 
}

#transaction-tbl{
	text-align: center;
}

#noplate-btn, #plate-btn, #novehicle-btn, #unknown-btn, 
#toodark-btn, #toobright-btn, #blurry-btn, #unknownstate-btn{
	border-radius: 15px;
	margin: 5px;
	width:102px;
	height:60px;
	font-family: Arial;
	font-size: 15px;
}

.input-plate-number{
	margin-left: 38px;
	padding-top: 10px;
	float: center;
}

#input-plate-state{
	margin-left:32px;
	margin-top: 20px;
}

#input-plate-type{
	margin-left: 4px;
	margin-top: 20px;
}

#back-btn{
	border-radius: 5px;
	margin-left: 30px;
	margin-top: 22px;
	font-family: Arial;
	font-size: 15px;
}
#accept1-btn{
	border-radius: 15px;
	margin-left: 10px;
    margin-top: 15px;
    width:102px;
	height:60px;
	font-family: Arial;
	font-size: 15px;
}

#accept2-btn{
	border-radius: 15px;
	margin-left: 184px;
    margin-top: 15px;
    width:102px;
	height:60px;
	font-family: Arial;
	font-size: 15px;
}

#slider1, #slider2, #slider3, #slider4, #slider5, #slider6, #slider7, #slider8{
	position: float;
	margin-left: 10px;
}
#first-bright-label, #first-sharp-label, #first-contrast-label, #first-contrast-label{
	font-family: Arial;
	padding-left: 6px;
	font-size: 12px;
}
