#transaction-header {
    margin-left: 50px;
    margin-top: 10px;
	font-size: 12px;
}

.col-md-6 {
    width: 55%;
}

#vehicle-header, #review-history-header{
	margin-left: 50px;
	font-size: 12px;
}
.transaction-details .review-history{
	font-size: 10px;
}
#transaction-tbl, #vehicle-tbl{
	border-radius: 5px;
	margin-left: 5px;
	border: 1px solid black;
	text-align: center;
	width: 100%;
	height: 100px;
	font-size: 10px;
}

#review-history-tbl{
	border-radius: 5px;
	margin-left: 25px;
	/*border: 1px solid black;*/
	float: left;
	width: 100%;
	height: 100px;
	font-size: 10px;
}

#make-label, #model-label, #color-label, #plate-label, 
#plate-val, #plate-st-label, #plate-st-val{
	color:red;
	font-style: 10px;
}

.box-number-plate{
	float: left;
	border-radius: 5px;
    /*padding: 5px;*/
    margin-top: 5px;
    width: 102%;
    height: 100px;
    /*border: 1px solid black;*/
}

.box-reject-btn {
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    height: 150px;
    border: 1px solid black;
}

#input-plate-state{
	margin-left:32px;
	margin-top: 20px;
}

#input-plate-type{
	margin-left: 4px;
	margin-top: 20px;
}