.container{
	margin-top: 10px;
	width:100%;
	border-radius: 5px;
	border: 1px solid black;
}

.nopadding {
   padding: 0px !important;
   margin: 0px !important;
}

.input-group .form-control {
	width: 100%;
}

.form-group .form-control{
	float: left;
	width: 28%;
}

.box{
	margin-left: 10px;
	margin-top: 10px;
	padding-left: 20px;
	padding-top: 10px;
	border-radius: 5px;
	width: 60%;
	border: 1px solid black;
}

.rp{
	float: left;
}

#search-btn{
	float: right;
	margin-right: 20px;
	margin-bottom: 20px;
}

.table-box{
	margin-left: 10px;
	margin-top: 10px;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	border-radius: 5px;
	width: 34%;
	border: 1px solid black;
}
#review-chart{
	padding-top: 60px;
	min-width: 310px;
	max-width: 800px;
	height: 485px;
	margin: 0 auto;
}