.container{
	margin-top: 10px;
	width:100%;
	height: 660px;
	border-radius: 5px;
	border: 1px solid black;
}

.nopadding {
   padding: 0px !important;
   margin: 0px !important;
}

.input-group .form-control {
	width: 100%;
}

.form-group .form-control{
	float: left;
	width: 79%;
}

#review-performance-label{
	padding-top: 20px;
}

.box{
	margin: 10px;
	padding-left: 20px;
	padding-top: 10px;
	/*padding-bottom: 10px;*/
	padding-right: 20px;
	border-radius: 5px;
	width: 70%;
	border: 1px solid black;
}

.detail{
	margin: 10px;
	padding-left: 20px;
	/*padding-top: 10px;*/
	padding-bottom: 10px;
	padding-right: 20px;
	border-radius: 5px;
	width: 60%;
	height: 100px;
	border: 1px solid black;
}

#search-btn{
	float: right;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

#reviewer-lbl, #reviewer-value, #review-date, #reviewer-date-value{
	width: 60%;
}

.table-box{
	margin-left: 10px;
	margin-top: 20px;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	border-radius: 5px;
	width: 80%;
	border: 1px solid black;
}
